<ion-header>
  <ion-navbar>
    <ion-title>
      Test Application
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <p>Use buttons for connect/disconnect your device to server</p>

  <button *ngIf="displayConnectButton == true" full ion-button color="secondary" (click)="connect()">Connect</button>
  <p *ngIf="displayConnectButton == false"><b>Your device connected to server with ID: {{deviceDbId}}</b></p>
  <br>
  <button *ngIf="displayConnectButton == false" full ion-button color="danger" (click)="disconnect()">Disconnect</button>

</ion-content>
